/*デフォルト　スマホ*/

body{
    background: rgb(232 232 232);
}

#product-detail{
               margin-top:80px;
               margin-bottom:80px;


 & .detail-grid{

  & .detail-thumb{
               position: relative;
               width: 100%;
               max-width:310px;
               height: 110px;
               margin-left: auto;
               margin-right: auto;
               margin-bottom:80px;

             & .main-title{
                           font-size: 20px;
                           color: #ffffff;
                           background: rgb(34 112 178);
                           text-align: center;
                           position: absolute;
                           top: 50%;
                           left: 0;
                           transform:translateY(-50%);
                           padding: 10px;
             }
             & img{
                    width: 65%;
                    mix-blend-mode: luminosity;
                    position: absolute;
                    right: 0;
                    z-index: -1;
             }
   }
   & .detail-info{
               
           & .info-block{
            background: white;
            padding: 15px;
            border-radius: 30px;
            margin-bottom: 40px;
    
                & img{
                    width:100%;
                }
                & p{
                    font-size: 14px;
                    font-family: ui-serif;
                    letter-spacing: 1px;
                    line-height: 25px;
                }
            }
            & img{
                  width: 300px;
                  display: block;
                  margin-left:auto;
                  margin-right:auto;
            }
   }
  }

}
aside{


   & h1{
        font-size: 20px;
        text-align: center;
    }
}
footer{
    

    & .footer_section{
                      max-width: 320px;
                      display: grid;
                      grid-template-columns: repeat(auto-fit, minmax(130px, 120px));
                      gap: 20px;
                      justify-content: center;
                      margin-left: auto;
                      margin-right: auto;
                      padding: 0;
                      list-style: none;
          & li{
               background: rgb(245, 245, 245);
               border-radius: 5px;
               text-align: center;
               padding: 10px;
             
                 & img{
                       width:100%;
                       height: 100px;
                       object-fit: contain;
                       border: 0.5px solid rgb(89 87 73 / 20%);
                       border-radius: 5px;
                       margin-bottom: 0;
                 }
                 & p{
                     font-size:14px;
                     color: rgb(89, 87, 73);
                     margin: 0 ;
                 }
          } 
    }
}


    /* PC 同じ階層を意識して書く  下に記述したものが優先される
    　　#product-detail{

　　　　　　　　　　　 & .detail-grid{
                                    width:100%;
　　　　　　　　　　　　　　　& .detail-thumb{

                           } 
                    } 
       }
    
    */
@media screen and (min-width:1024px) {

  #product-detail{

     & .detail-grid{

   
              & .detail-thumb{

                             max-width:530px;
                             height:200px;
                             margin-left: auto;
                             margin-right:auto;

                         & .main-title{
                                      font-size: 35px;
                                      margin:0;
                         }
                         & img{
                               max-width:300px;
                               position: absolute;
                               top:50%;
                               right: 0;
                               transform:translateY(-50%);
                         }
               }
             & .detail-info{
                            max-width: 1000px;
                            height: 150vh;
                            position: relative;
                            margin-left: auto;
                            margin-right: auto;

                & .info-block{
                    
                    width: 30%;
                    max-width:350px;
                    background: white;
                    border-radius: 5px;
                    box-shadow: 3px 3px #2270b24a;
                    padding: 15px;
                    position: fixed;
                    top: 50%;
                    transform:translateY(-50%);
                   
                    
    
                }
                & img{
                       width:45%;
                       max-width:500px;
                       object-fit: contain;
                       position: absolute;
                       left: 45%;
                }
             }
     }

  }
  aside{
    width: 15%;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

    & h1{
        font-size: 25px;
        letter-spacing: 5px;
        writing-mode: vertical-lr;
        position: absolute;
        top: 100px;
        left: -36px;
        transform: translateY(-50%);
        padding: 10px 4px 10px 4px;
        margin: 0;
        background: #f5f6f7;
        border-radius: 20px;
    }
  }
  footer{
    width: 15%;
    height: 100vh; 
    position: fixed;
    right: 0;
    bottom: 0; 
    padding:20px;
    overflow: hidden; 
    z-index: 9999;
    background: rgb(245, 246, 247);

      & .slide_track{
                    position:relative;
                    width: 100%;
                    height: 100%; 

          & .footer_section{
                      position: absolute; /* 【重要】絶対配置にして位置をコントロール */
                      top: 0;
                      left: 0;
                      width: 100%;
                      display: flex;
                      flex-direction: column;
                      list-style: none;
                      padding:0;
                      margin: 0;
            & li{
                height:auto;
                text-align:center;
                flex-shrink: 0;
            
            }

            & img{
                display: inline-block;
                width: 100%;
                height: 120px;
                object-fit: contain;
                border: 0.5px solid;
                border-radius: 5px;
                margin-bottom: 5px;
            }
            & p{
                margin: 0 ;
            }
          }
      }
    
    
}
}
