/*デフォルト　スマホ*/  
   .mainVisual_section{
         width: 100% ;
         overflow: hidden;
         margin-bottom:120px;
         /* 226degのまま、サイズを縦横2倍にする */
         background: linear-gradient(2deg, #b1f1f8ce 0%, #b9b7ffd0 100%);
         background-size: 200% 200%;
         animation: colorMotion 3s  infinite alternate ease-in-out;


         @keyframes colorMotion {
                               0% {
                                 background-position: 0% 0%;
                               }
                              
                                100% {
                                     background: 100% 100%;
                               }
         }


         & .mainVisual {

           & h1{
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50%, -50%);
                 z-index: 10;
                 font-size: 50px;
                 font-family: 'Rubik dirt', system-ui, 'fantasy';
                 /*アニメーション定義*/
                 animation:changeColor ;
                 /*スクロールをタイムラインとして設定*/
                 animation-timeline: scroll(root);
    
              } 
              & .images{
                       position: relative;
                       height: 100vh;
              }
         } 
   }

   @keyframes changeColor {
        0%{
            color:black;
            animation-timing-function: ease-in;
        }
        50%{
            color:white;
        }
        100%{
            color:rgba(50, 128, 193, 1);
        }
    }

   
    
    .js_img{
        position:absolute;
    }
    .about{
     & .about_ttl{ 
              position: relative;
              width: 300px;
              height: 25vh;
              margin: auto;
              
            & h1{
                  font-size:25px;
                  letter-spacing: 10px;
                  font-family: 'Gothic A1';
                  writing-mode: vertical-rl;
                  position:absolute;
                  top: 20%;
                  z-index: 1;
            }
            & .back {
                    top:0;
                    left:0;

            }
            & .back , .ground{
                             display: inline-block; /*pタグはブロック要素にしてclass指定、サイズ変更する*/
                             font-family: 'Rubik dirt', system-ui, 'fantasy';
                             font-size: 30px;
                             font-weight: 500;
                             color:white;
                             -webkit-text-stroke: 1px rgb(195, 195, 195);
                             position:absolute;
             }
            & .ground{
                     top: 10%;
                     left: 10%;
            }
            & img{
                     position: absolute;
                     right: 0;
                     width:100px;
                     height:100px;
            }
     }
    
     & .about_txt{
        width:100%;
        max-width:375px;
        font-size: 14px;
        color:rgba(80, 80, 80, 1);
        margin-left: auto;
        margin-right: auto;
     
               & ul{
                    width:max-content;
                    line-height: 30px;
                    margin-left: auto;
                     margin-right: auto;
                    margin-bottom: 20px;
                }
               & ul li{
                     font-size:14px;
               }
               & p{
                   font-size:12px;
                   line-height:25px;
                   width: 300px;
                   text-align: justify;
                   letter-spacing: 1px;
                   margin-left: auto;
                   margin-right: auto;
                }
    }
}
    .skills_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top:80px;
    font-family: 'Courier New', Courier, monospace;

        
      & .skills_wrapper{
                  display : flex;
                  flex-wrap: wrap;
                  flex-direction:row;
                  justify-content: center;
                  list-style: none;
        
        & .skill-ttl{
                     font-family: "Reggae One", system-ui;
                     font-weight: 400;
                     font-style: normal;
                     width: 200px;
                     height: 150px;
                     background:url(../image/skill/skill-ttl_bg.png);
                     background-size: cover;
                     margin-left: auto;
                     margin-right: auto;
                     margin-bottom :100px !important;
                     position: relative;
           
                     & h1{
                         font-size:25px;
                         position:absolute;
                         top:50%;
                         left:50%;
                         transform: translate(-50%, -50%);
                     }
         
        }

        & .skill-contents{

            & .skill{
                width: 320px;
                height: 240px;
                margin-bottom:40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items:center;
                flex-direction:column;
                position:relative;
    
                 & .img{
                        width: 320px;
                        height: 240px;
                        position:absolute;
        
                       & p{
                           width:240px;
                           position: absolute;
                            top: 82px;
                           left: -115px;
                           border:5px solid black;
                           rotate:90deg;
                        }
                      & img{
                           width:180px;
                           height:240px;
                           margin-bottom:10px;
                           position: absolute;
                           left: 18px;
                           bottom: 24px;
                      }


                }
                & .ttl_desc{
                         width:280px;
                         background:color(srgb 1 1 1 / 0.9);
                         padding:15px;
                         position:absolute;
                         top: 15px;
                         left: 18px;
              
                       & h1{
                           margin-bottom:20px;
                           font-family:'reggae one';
                           font-size:20px;
                        }
                       & p{
                           font-family: serif;
                           font-size:14px;
                           text-align: justify;
                           letter-spacing: 1px;
                           line-height: 20px;
                           color:rgba(80, 80, 80, 1);
                           margin-left:auto;
                           margin-right:auto;
                        }
                 }

            }
        }

      }

    }


/*作品紹介 */
    .product_section{
        background: rgba(50, 128, 193, 1);
    
          & .product{
                    & .product_ttl{
                                   width: 300px;
                                   height: 227px;
                                   position: relative;
                                   left:0;
                            
                               & h1{
                                   color:rgba(34, 112, 178, 1);
                                   background: rgb(249 238 178 / 50%);
                                   font-size:50px;
                                   font-family :'rubik dirt' ,system-ui;
                                   position: absolute;
                                   top:0;
                                   left:0;
                               }
                               & h2{
                                    color:white;
                                    font-size:30px;
                                    font-family :'rubik dirt' ,system-ui;
                                    writing-mode: vertical-rl; /* 縦書き（右から左） */
                                    position:absolute;
                                    top:10px;
                                    left:0;
                                }
                                & p{
                                    font-size: 25px;
                                    letter-spacing: 15px;
                                    font-family:'reggae one' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                    color:rgba(249, 238, 178, 1);
                                    position:absolute;
                                    top:55%;
                                    left:30%;

                                 }  

                       }
                    & .product_contents{
                                       display:flex;
                                       flex-direction: column;
                                       align-items: center;
                              
                             & .content{
                                        margin-bottom:40px;
                             
                                & .img_ttl{
                                         width:90%;
                                         margin-left:auto;
                                         margin-right:auto;

                                    & a{
                                        display: block;
                                        text-align: center;
                                      
                                    }

                                    & img{
                                          width: 90%;
                                          height: 160px;
                                          object-fit:contain;
                                          border-radius: 5px;
                                          background:white;
                                     }
                                    & p{
                                        font-size:12px;
                                        color:rgba(249, 238, 178, 1);
                                        text-align: left;
                                     }
                                }
                               
                            
                            }     

                             
                     }


            }
     

    }
/*コピーライト*/
    .copyright{
        width:100%;
        font-size:10px;
        text-align: center;
    }
    


    /* PC */
@media(min-width:1024px){

    .mainVisual_section{

          & .mainVisual{
                     
                    & h1{
                        font-size:100px;
                     }
           }

    } 
/*経歴 */

    .about_section{

                & .about{
        width:1000px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left:auto;
        margin-right:auto;
                
                    & .about_ttl_wrapper{
                                        width:435px;
        
                            & .about_ttl{
                                        width:380px;
                                        position: relative;
                                        height:236px;
                                        margin:auto;
                             
                                   
    
                                     & h1{
                                         writing-mode: vertical-rl;
                                         font-family:'Reggae one';
                                         font-size:35px;
                                         letter-spacing: 0.5rem;
                                         position: absolute;
                                         top: 100px;
                                         left: 0;
                                         z-index: 1;
                                       }
                                     & .back{
                                             font-size: 48px; 
                                             position: absolute;
                                             top: 70px;
                                      }
                                     & .ground{
                                                font-size:48px;
                                                position: absolute;
                                                   top: 100px;
                                                  left: 50px;
                                       }
                                   & img{
                                       width: 150px;
                                       height: 140px;
                                       position: absolute;
                                       top: 100px;
                                       right:0;
                                    }
                             
                             
                             
                             
                              }
                    }
                    & .about_txt{
                               width:465px;
                               font-size:20px;
                               display: flex;
                               flex-direction: column;
                               flex-wrap: wrap;
                               justify-content: space-around;
                     
                     & ul{

                          &  li{
                               font-size: 20px;
                               line-height:40px;
                               margin-left:auto;
                               margin-right:auto;
                          }


                     }
                     
                     & p{
                         width:auto;
                         font-size:15px;
                         line-height:30px;
                         text-align: justify;
                          letter-spacing: 1px;
                      }
                     
                    }
    




               }


    }
    
    

/*スキル */
    .skills_section{
        margin-top:120px;
    
       & .skills_wrapper{
        max-width:1000px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top:40px;
        
        & .skill-ttl{
                       width: 350px;
                       height:250px;
                       margin-left:0;
                & h1{
                     font-size:35px;
                }
         }
        & .skill-contents{
                        width:900px;
                        height:900px;
                        position: relative;
         
                  & .skill{
                          position:absolute;
                          top: 0;
                          right: 0;
                          width:300px;
                          height:200px;
                          margin-bottom:25px;
                          display:flex;
                        
                      &:nth-child(2){
                                     top:25%;
                                     left:0;
                      }
                       &:nth-child(3){
                                     top:50%;
                      }
                      & .img{
                             top: 40px;
                             left: -67px;

                             & img{
                                   width:260px;
                                   height:300px;
                             }
                             & p{
                                 width:300px;
                                 position:absolute;
                                 top: 52px;
                                 left: -145px;
                             }


                      }
                  & .ttl_desc {
                             width:400px;
                             padding:25px;
                  
                          & h1{
                              font-size:25px;
                          }
                          &  p{
                              font-size:16px;
                              letter-spacing: 3px;
                              line-height: 30px;
                          }
                  
                    }

                  }
        }

       }
    
    }
    
/*作品紹介 */
    .product_section{
        padding: 30px;

      & .product{
        & .product_ttl{
        width: 300px;
        height: 250px;
        margin-bottom:40px;
        position: relative;
        
              & h1{
                    font-size:100px;
                    position: absolute;
                    top:0;
              }

              & h2{

                   font-size:50px;
                   position:absolute;
                   top: 30px;
              }
              & p{
                   width:250px;
                   font-size:35px;
                   letter-spacing: 25px;
                   position:absolute;
              }
        }
        & .product_contents{
        max-width:1000px;
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
        justify-content: flex-start;
        margin-left:auto;
        margin-right:auto;
        
          & .content{ 
                    width: 33%;

               & .img_ttl{
                         margin-left:auto;
                         margin-right:auto;        

                        & img{
                              width:100%;
                              margin-bottom:10px;
                        }
                        & p{
                            font-size:14px;
                        }

               }

           }
        }

      }
    
    }
}